<form class="login-by-email" (ngSubmit)="onSubmit(f)" #f="ngForm">
  <div class="line-email input-line">
    <input type="text" class="email-input" name="email" placeholder="email" [(ngModel)]="email" required/>
  </div>
  <div class="line-password input-line">
    <input type="password" class="password-input" name="password" placeholder="Password" [(ngModel)]="password" required/>
  </div>

  <div class="find-password-wrapper">
    <p><a href="#" target="_blank">Forget password</a></p>
  </div>
<div class="line-submit-button input-line ">

  <button>Submit</button>
</div>
</form>

